<nav class="col-12 side-nav">
    <div class="log-block w-100" rel="home">
        <!-- <div class="w-100">
  <div class="user"></div>
  </div> -->
        <span class="r rk-font">RK</span>
        <!-- <span class="kumar">Kumar</span> -->
    </div>
    <div class="nav w-100">
        <div class="nav-list nav-links">
            <a class="nav-icon relative home bg-cover active" rel="home" [routerLink]="['/home']"></a>
            <a class="nav-icon relative about bg-cover" rel="about" [routerLink]="['/about']"></a>
            <a class="nav-icon relative skills bg-cover" rel="skills" [routerLink]="['/skills']"></a>
            <a class="nav-icon relative gallery bg-cover" rel="gallery" [routerLink]="['/gallery']"></a>
            <a class="nav-icon relative contact bg-cover" rel="contact" [routerLink]="['/contact']"></a>
            <a class="nav-icon relative resume bg-cover" rel="resume"></a>
        </div>
    </div>
  
  
  </nav>