<section id="about" class="window_ht about-section page-anim">
    <canvas id="canvas"></canvas>
    <div class="col-12 ht-100 d-table common-block">
        <div class="d-cell about-block">
            <div class="about-dis relative col-12">
                <div class="my-dis pull-left relative">
                    <!-- <div class="my-img bg-cover"></div> -->
                    <h2 class="about-head">
                        <span class="about-r uppercase"><span class="l">R</span><span class="l">a</span><span
                                class="l">t</span><span class="l">a</span><span class="l">n</span></span>
                        <br>
                        <span class="about-k uppercase"><span class="l">K</span><span class="l">u</span><span
                                class="l">m</span><span class="l">a</span><span class="l">r</span></span><br>
                        <span class="work-at">@ Capita India</span>
                    </h2>
                    <h4 class="about-text">About Me</h4>
                    <p class="abut-dis">
                        Experienced Web Developer with a demonstrated history of working in the marketing and
                        advertising industry.<br><br> Skilled in HTML 5, CSS 3, JQuery, Bootstrap (3,4), JavaScript
                        and Ruby on Rails and Basic, Angular JS,
                        User Interface Design. Strong engineering professional with a Bachelor’s Degree focused in
                        Computer Science from Progressive Educational Society Modern College of Engineering,
                        Shivajinagar, Pune 5.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>