<section id="resume" class="resume-section text-center col-12">
    <p class="col-12"><a href=".../../../../../../assets/img/Ratan_kumar_cv.doc" target="_blank" class="resume-btn">Download
            Resume</a></p>

    <div class="social-icon-block col-12">
        <div class="social-list">
            <a href="https://www.facebook.com/ratankumar.rebari" class="bg-cover fb media" target="_blank"></a>
            <a href="https://twitter.com/ratankumar91" class="bg-cover tw media" target="_blank"></a>
            <a href="https://www.linkedin.com/in/ratan-kumar-rebari/" class="bg-cover ln media" target="_blank"></a>
            <a href="https://www.instagram.com/ratankumarrebari/" class="bg-cover in media" target="_blank"></a>
        </div>
    </div>
</section>