<section id="skills" class="window_ht skills-section page-anim">
    <div class="col-12 ht-100 d-table common-block">
        <div class="d-cell about-block">

            <div class="resume-box col-6 resume-box-1 tab-full">
                <span class="icon animated fadeInDown visible" data-animation="fadeInDown"><span class="l"><img
                            src="../assets/img/trophy.png"></span></span>
                <h4 class="skill-head-text"><strong><span class="l">Skills</span></strong><span
                        class="skill-head-text-sub"><span class="l">&amp;</span> <span
                            class="l">abilities</span></span>
                </h4>
                <!-- Skill -->
                <div class="skill">
                    <div class="progress progress-animated">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-progress="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <strong class="skill-head">JavaScript / Angular 2+ / Basic ReactJS / jQuery</strong>
                </div>
                <!-- Skill -->
                <div class="skill">
                    <div class="progress progress-animated">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-progress="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <strong class="skill-head">Bootstrap 3 &amp; 4 , Responsive Design , semantic UI , UiKit ,
                        Angular Material , Kendo UI</strong>
                </div>

                <!-- Skill -->
                <div class="skill">
                    <div class="progress progress-animated">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-progress="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <strong class="skill-head">HTML5 / CSS3</strong>
                </div>
                <!-- Skill -->
                <div class="skill">
                    <div class="progress progress-animated">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-progress="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <strong class="skill-head">SVG Animation / Custom Animation</strong>
                </div>

                <!-- Skill -->
                <div class="skill">
                    <div class="progress progress-animated">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-progress="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <strong class="skill-head">Json , Ajax , XML , Lodash js , Chart.js , D3.js </strong>
                </div>
                <!-- Skill -->
                <div class="skill">
                    <div class="progress progress-animated">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-progress="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <strong class="skill-head">Typescript , RxJs</strong>
                </div>
            </div>

            <div class="resume-box col-6 resume-box-2 tab-full">
                <span class="icon animated fadeInDown visible" data-animation="fadeInDown"><span class="l"><img
                            src="../assets/img/fantasy.png"></span></span>
                <h4 class="skill-head-text"><strong><span class="l">jobs</span></strong><span
                        class="skill-head-text-sub"><span class="l">&amp;</span> <span
                            class="l">Education</span></span>
                </h4>
                <div class="timeline">
                    <!-- Single event -->
                    <div class="timeline-event te-primary w-1_3">
                        <span class="event-date">February 2019 - Present</span>
                        <span class="event-name">Capita India</span>
                        <span class="event-description">Working as Angular Developer, Pune</span>
                    </div>
                    <!-- Single event -->
                    <div class="timeline-event te-primary w-1_3">
                        <span class="event-date">August 2018 - February 2019</span>
                        <span class="event-name">Light Information Systems</span>
                        <span class="event-description">Working as Angular Developer, Pune</span>
                    </div>
                    <!-- Single event -->
                    <div class="timeline-event te-primary w-1_3">
                        <span class="event-date">April 2017 - August 2018</span>
                        <span class="event-name">Amura Marketing Technology </span>
                        <span class="event-description">Working as UI Developer, Pune</span>
                    </div>
                    <!-- Single event -->
                    <div class="timeline-event te-primary w-1_3">
                        <span class="event-date">March 2016 - March-2017</span>
                        <span class="event-name">SomSon software</span>
                        <span class="event-description">Worked as UI Developer, Pune</span>
                    </div>
                    <!-- Single event -->
                    <!-- <div class="timeline-event te-primary w-1_3">
                        <span class="event-date">Jan 2013 - April 2016</span>
                        <span class="event-name">BCS ( B.sc Computer Science ) </span>
                        <span class="event-description">Pune University, Pune</span>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</section>