<section id="contact" class="window_ht contact-section page-anim">
    <div class="col-12 ht-100  common-block">
        <div class=" contact-block ht-100">
            <div class="col-5 ht-100 tab-full">
                <div class="d-table ht-100">
                    <div class="d-cell">
                        <div class="contact-form-block">
                            <h1 class="contact-head"><span class="l">C</span><span class="l">o</span><span
                                    class="l">n</span><span class="l">t</span><span class="l">a</span><span
                                    class="l">c</span><span class="l">t</span> <span class="l"> M</span><span
                                    class="l">e</span></h1>
                            <p class="contact-dis">If you have any questions, please don’t hesitate to contact
                                <br>using form below…</p>
                            <div class="contact-from col-12">
                                <form class="col-12" action="">
                                    <div class="col-6 form-field">
                                        <input type="text" class="name-field input-box w-100" placeholder="Name"
                                            id="name">
                                    </div>
                                    <div class="col-6 form-field">
                                        <input type="email" class="email-field input-box w-100" placeholder="Email"
                                            id="email">
                                    </div>
                                    <div class="col-12 form-field">
                                        <input type="input" class="subject-field input-box w-100"
                                            placeholder="Subject" id="subject">
                                    </div>
                                    <div class="col-12 form-field">
                                        <textarea style="resize: none;" name="" class="message-field area-box w-100"
                                            placeholder="Message" id="message"></textarea>
                                    </div>
                                    <div class="col-12 form-field">
                                        <input type="submit" class="submit-field submit-box" placeholder="Subject"
                                            id="subject">
                                    </div>
                                </form>
                            </div>
                            <!-- <div class="thankyou">
                                <p class="thankyou-msg">Thank you for getting in touch!</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7 text-center h-100 tab-full">
                <div class="or-inner">
                    <p class="send-text">
                        <span class="relative secd-text-or">Send an email,
                            <span class="send-arrow">
                                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.213 476.213">
                                    <path
                                        d="M405.606 167.5l-21.212 21.213 34.393 34.393H0v30h418.787L384.394 287.5l21.212 21.213 70.607-70.607">
                                    </path>
                                </svg>
                            </span>
                        </span>
                    </p>
                    <h2 class="or-head"><span class="l">Or</span></h2>
                    <p class="or-dis">copy my address from the input below.</p>
                    <a class="or-email l">ratan.kumar67890@gmail.com</a>
                </div>

            </div>
        </div>
    </div>
</section>