<section id="gallery" class="window_ht gallery-section page-anim">
    <div class="col-12 d-table common-block h-100">
        <div class="d-cell gallery-block">
            <div class="work-main-block col-12">
                <div class="work-block-left col-6 tab-full">
                    <div class="work-header-block col-12 relative">
                        <h1 class="work-text relative"><span class="work-style">Work</span></h1>
                        <p class="work-dis relative">
                            Experienced Web Developer with a demonstrated history of working in the marketing and
                            advertising industry.<br> demonstrated history of working in the marketing

                        </p>
                    </div>
                </div>
                <div class="work-block-right col-6 ht-100 tab-full">
                    <div class="work-scroll col-12 relative ht-100">
                        <ul class="work-list col-12 ht-100 list-style-none">
                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">AI NLP for intelligent sales & marketing
                                                </h4>
                                                <h3 class="work-project-name"> www.asmi.com</h3>
                                                <p class="work-project-link"><a
                                                        href="https://www.nlpbots.com/marketing-assistant.php"
                                                        target="_blank">View the App,Website,Brand</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover h-100 asmi"></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">At Hawkeye Real Estate and Property
                                                    Management</h4>
                                                <h3 class="work-project-name"> www.hawkeye.sell.do</h3>
                                                <p class="work-project-link"><a href="http://hawkeye.sell.do"
                                                        target="_blank">View the App,Website,Brand</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover h-100"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table  h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">International Institute of Fashion Design.
                                                </h4>
                                                <h3 class="work-project-name">INIFD Pune</h3>
                                                <p class="work-project-link">
                                                    <a href="http://designpune.com/inifd-pune/index.php"
                                                        target="_blank">View the App,Website,Brand</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover inifd-bg"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table  h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">Bike and Car loans.</h4>
                                                <h3 class="work-project-name">Creditmate.in</h3>
                                                <p class="work-project-link">
                                                    <a href="https://www.creditmate.in/" target="_blank">View the
                                                        App,Website,Brand</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover creditmate-bg"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table  h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">Real estate development.</h4>
                                                <h3 class="work-project-name">Embassy springs</h3>
                                                <p class="work-project-link">
                                                    <a href="http://www.embassysprings.com/" target="_blank">View
                                                        the App,Website,Brand</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover embassy-bg"></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table  h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">Skin And Hair solutions.</h4>
                                                <h3 class="work-project-name">skinandhairacademy.in</h3>
                                                <p class="work-project-link">
                                                    <a href="http://www.skinandhairacademy.in/" target="_blank">View
                                                        the App,Website,Brand</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover skinandhair-bg"></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table  h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">Real estate development.</h4>
                                                <h3 class="work-project-name">The Residences</h3>
                                                <p class="work-project-link">
                                                    <a href="http://runwal.com/_residencesstaging/new/"
                                                        target="_blank">View the App,Website,Brand</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover residences-bg"></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="work-img-dis col-6 h-100 mob-full">
                                        <div class="d-table  h-100">
                                            <div class="d-cell">
                                                <h4 class="work-img-head">Real estate development.</h4>
                                                <h3 class="work-project-name">Esquire</h3>
                                                <p class="work-project-link">
                                                    <a href="http://oberoirealty.amuratech.biz/esquire"
                                                        target="_blank">View the App,Website,Brand</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-img col-6 h-100 mob-full">
                                        <div class="work-img-bg bg-cover esquire-bg"></div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="col-12 work-list-inner h-100">
                                    <div class="d-table  h-100 w-100">
                                        <div class="d-cell text-center w-100">
                                            <p>
                                                <a href="../assets/img/Ratan_kumar_cv.doc" target="_blank"
                                                    class="resume-btn" style="opacity: 1;margin-top: 0;">Download
                                                    Resume</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>