<section id="home" class="window_ht home-section page-anim bg-cover">
    <div class="col-12 ht-100 d-table common-block">
        <div class="d-cell home-block">
            <!-- <h1 class="home-head">Hi,<br>I'm Ratan Kumar</h1> -->
            <h1 class="home-head">
                <span class="l1 l">H</span><span class="l2 l">i</span><span class="l3 l">,</span><br>
                <span class="l4 l">I</span><span class="l5 l">'</span><span class="l6 l">m</span>
                <span class="r-word l7 l">R</span><span class="l8 l">a</span><span class="l9 l">t</span><span
                    class="l10 l">a</span><span class="l11 l">n</span>
                <span class="k-word l12 l">K</span><span class="l13 l">u</span><span class="l14 l">m</span><span
                    class="l15 l">a</span><span class="l16 l">r</span>
            </h1>
            <p class="home-sub">
                <span class="my-pos swap-from-left">I am UI/UX front end Developer.</span><br>
                <a href="javascript:;" class="contact-me" rel="contact"><span>Contact Me</span><span
                        class="arrow-right"><svg class="arrow" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 476.213 476.213">
                            <path
                                d="M405.606 167.5l-21.212 21.213 34.393 34.393H0v30h418.787L384.394 287.5l21.212 21.213 70.607-70.607">
                            </path>
                        </svg></span></a>
            </p>
        </div>
    </div>
</section>